body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
}

.card{
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

a{
    background-color: blue;
    color: white;
    padding: 8px;
    text-decoration: none;
}